@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #084734;
    --secondary: #CEF17B;
    --tertiary: #CEEDB2;
    --background: #F9FFF3;
  }

  body {
    @apply bg-greencard-background text-greencard-primary;
  }
}